<div class="umb-container">
  <div class="simulator">
    <div>
      <h3>PROPIEDADES:</h3>
      <table>
        <tr>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Tasa de aprendizaje</mat-label>
              <input matInput type="number" [(ngModel)]="neuron.trainingRate" [disabled]="playing">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Sesgo</mat-label>
              <input matInput type="number" [(ngModel)]="neuron.bias" [disabled]="playing">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Número de pesos</mat-label>
              <input matInput type="number" [(ngModel)]="neuron.weightNum" disabled>
            </mat-form-field>
          </td>
        </tr>
        <tr *ngFor="let w of neuron.weights; let $i = index">
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Peso #{{ $i + 1 }}</mat-label>
              <input matInput type="number" [(ngModel)]="neuron.weights[$i]" [disabled]="playing">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>

    <!-- graph simulator -->
    <div class="graph-simulator">
      <h3>ENTRENAMIENTO:</h3>

      <div class="controls">

        <button mat-mini-fab color="umb-light" (click)="reset()">
          <fa-icon [icon]="['fas', 'rotate-left']"></fa-icon>
        </button>
        <button mat-fab color="umb" class="play" *ngIf="!playing" (click)="startSimulation()">
          <fa-icon [icon]="['fas', 'play']"></fa-icon>
        </button>
        <button mat-fab color="umb" class="play" *ngIf="playing" (click)="stopSimulation()">
          <fa-icon [icon]="['fas', 'pause']"></fa-icon>
        </button>
        <div class="timing">
          <strong>ITERACIÓN: {{ trainIteration }}</strong>
        </div>

      </div>

      <div class="graph">

        <!-- Training rate -->
        <!--suppress TypeScriptValidateTypes -->
        <canvas
          class="chart-box"
          baseChart
          [datasets]="lineChartData.datasets"
          [labels]="lineChartData.labels"
          [type]="'line'"
          [options]="{animation:{duration:0},scales:{x:{grid:{display:false}},y:{grid:{display:false},ticks:{display:false}}}}"
        ></canvas>

        <strong>PORCENTAJE DE ERROR: {{ errorPer() }}%</strong>

      </div>

    </div>
    <div class="do-hack graph-simulator">

      <h3>PROBEMOS:</h3>

      <div class="controls">
        <span>Ingresa los valores de X<sub>1</sub>, X<sub>2</sub>, X<sub>3</sub> y X<sub>4</sub> para comprobar que la neurona ha aprendido.</span>
      </div>

      <table style="margin-top: 1rem">
        <tr>
          <td>
            <mat-form-field appearance="standard">
              <mat-label>X<sub>1</sub></mat-label>
              <input matInput type="number" [(ngModel)]="inputs.x1" [disabled]="playing">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="standard">
              <mat-label>X<sub>2</sub></mat-label>
              <input matInput type="number" [(ngModel)]="inputs.x2" [disabled]="playing">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="standard">
              <mat-label>X<sub>3</sub></mat-label>
              <input matInput type="number" [(ngModel)]="inputs.x3" [disabled]="playing">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="standard">
              <mat-label>X<sub>4</sub></mat-label>
              <input matInput type="number" [(ngModel)]="inputs.x4" [disabled]="playing">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button mat-raised-button color="umb" style="width: 100%" class="play" (click)="doTest()" [disabled]="playing">
              COMPROBAR
            </button>
          </td>
        </tr>
      </table>

      <h3>RESULTADO:</h3>

      <div class="sphere mat-elevation-z3">
        {{ toFix( result, 2 ) }}
      </div>

      <h3>RESULTADO CORREGIDO:</h3>

      <div class="sphere mat-elevation-z3">
        {{ steppedCorrection( result ) }}
      </div>

    </div>

    <div class="gates-container">

      <div>
        <h3>COMPUERTA CUSTOM:</h3>
        <table mat-table [dataSource]="gates" class="mat-elevation-z4 gate-box center">
          <ng-container matColumnDef="x1">
            <th mat-header-cell *matHeaderCellDef>X1</th>
            <td mat-cell *matCellDef="let element"> {{element.x1}} </td>
          </ng-container>
          <ng-container matColumnDef="x2">
            <th mat-header-cell *matHeaderCellDef>X2</th>
            <td mat-cell *matCellDef="let element"> {{element.x2}} </td>
          </ng-container>
          <ng-container matColumnDef="x3">
            <th mat-header-cell *matHeaderCellDef>X3</th>
            <td mat-cell *matCellDef="let element"> {{element.x3}} </td>
          </ng-container>
          <ng-container matColumnDef="x4">
            <th mat-header-cell *matHeaderCellDef>X4</th>
            <td mat-cell *matCellDef="let element"> {{element.x4}} </td>
          </ng-container>
          <ng-container matColumnDef="output">
            <th mat-header-cell *matHeaderCellDef>Valor<br>esperado</th>
            <td mat-cell *matCellDef="let element"> {{element[ 'expectedOutput' ]}} </td>
          </ng-container>
          <ng-container matColumnDef="result">
            <th mat-header-cell *matHeaderCellDef>Calibración</th>
            <td mat-cell
                *matCellDef="let element" class="train-res"
                [class]="validate(element[ 'expectedOutput' ], element[ 'finalOutput' ]) ? 'great' : 'error'"> {{toFix( element[ 'finalOutput' ], 2 )}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div class="graph" style="margin-top: 1rem">

          <strong>Precisión: {{ precision() }}%</strong>

        </div>
      </div>

    </div>
  </div>
</div>
