/**
 * Manuela Beltrán University (UMB)
 * @author Jose Buelvas Santos
 * @topic Inteligencia Artificial
 */

$color-umb: #991826;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Toolbar -------------------------------------------------------------------------------------------------------------
.app-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {

  &.mat-umb {
    background-color: $color-umb;
    color: #fff;
  }
}

.nav-button {
  font-size: 20px;
}

// Buttons
.mat-button-base,
.mat-button {
  &.mat-umb {
    background-color: $color-umb;
    color: #fff;
  }
}

.mat-fab, mat-mini-fab {
  &.mat-umb {
    background-color: $color-umb;
    color: #fff;
  }

  &.mat-umb-light {
    background-color: #fefefe;
    color: #555;
  }
}

// Sidenav -------------------------------------------------------------------------------------------------------------
.umb-content {
  height: 100%;
}

.umb-sidenav {
  .container {
    height: calc(100vh - 45px);
    width: 240px;
    overflow: auto;
    border-right: 1px solid rgba(black, .12);

    .logo {
      text-align: center;
      padding: 1rem 0;
    }

    .umb-uppercase {
      text-transform: uppercase;

      a {
        font-size: 14px;
        font-weight: bolder;

        &.active {
          background-color: rgba($color-umb, .2);
          color: $color-umb;
        }
      }
    }
  }
}

.umb-container {
  padding: 1rem;
}

// Simulator ---------------------------------------------------
.gate-box {
  strong {
    font-size: 16px;
  }

  &.center {
    text-align: center;

    th {
      text-align: center;
    }
  }

  .mat-header-row {
    th {
      min-width: 40px;
      background-color: $color-umb;
      color: #fff;
      padding: 0 .3rem;
    }
  }
}

.simulator {
  display: flex;
  flex-direction: row;

  > div {
    flex-basis: auto;
    flex-grow: 1;
  }

  .gates-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

// Graph simulator
.graph-simulator {
  flex-grow: 1;
  width: 25%;
  box-sizing: content-box;

  .controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    button {
      margin: 0 .3rem;
    }

    .play {
      font-size: 16px;
    }

    .timing {
      padding-left: .3rem;
    }
  }

  .graph {
    margin: 1rem 2rem 0 2rem;
    width: 400px;

    .chart-box {
      width: 400px;
      height: 400px;
    }
  }
}

// Do hack
.do-hack {
  flex-grow: 1;
}

.sphere {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #555555;
  color: #fff;
}

.train-res {
  &.great {
    background-color: #83ffb5;
  }

  &.error {
    background-color: #ffc0c8;
  }
}

.credits {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #8f8f8f;
  font-size: 12px;
}
