<mat-drawer-container class="umb-content" autosize>

  <!-- sidenav -->
  <mat-drawer #drawer class="umb-sidenav" mode="side" opened>
    <div class="container">
      <div class="logo">
        <img src="/assets/img/umb-logo.png">
      </div>

      <mat-divider></mat-divider>
      <mat-nav-list class="umb-uppercase">
        <a mat-list-item [routerLink]="['intelligent-agent']" routerLinkActive="active">Agente Inteligente</a>
        <a mat-list-item [routerLink]="['perceptron']" routerLinkActive="active">Perceptrón</a>
      </mat-nav-list>
    </div>
  </mat-drawer>
  <!-- end sidenav -->

  <!-- navbar -->
  <mat-toolbar class="mat-elevation-z6" color="umb">
    <button mat-icon-button aria-label="Menú" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>IHOJOSE <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon> UMB-IA</span>
    <span class="app-spacer"></span>
    <button mat-icon-button class="nav-button" aria-label="Ver repositorio en GitHub">
      <fa-icon [icon]="['fab', 'github']"></fa-icon>
    </button>
  </mat-toolbar>
  <!-- end navbar -->

  <!-- container -->
  <mat-sidenav-container>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
  <!-- end container -->

</mat-drawer-container>
